*.mdb  
*.ldb  
*.sdf 
*.exp
*.opendb
*.vcxproj.user
*.ilk
*.log

#¹ýÂËÎÄ¼þ¼ÐDebug,Release,obj  
Debug/  
Release/  
packages/
obj/
ipch/
.vs/
bin/
dll/
__pycache__/
/AGTestTool
/UpgradeLog.htm

lib/*.*